.quiz-body .card {
  background-color: transparent;
}

.quiz-body .card img {
  width: auto;
}

.quiz-list-item{
  text-decoration: none;
}

.answer-btn-group {
  clear: both;
  margin: 12px auto;
  text-align: center;
}

.btn-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 35px;
}

.choice-btn {
  margin: 0 12px;
  cursor: pointer;
  height: 45px;
  width: 222px;
  border-radius: 6px;
  border: none;
  color: #fff;
  box-shadow: 0 13px 28px 0 rgba(0,0,0,0.29);
}

.myth-btn {
  background-color: #7ED12A;
}

.reality-btn {
  background-color: #c6c6c6;
  color: #787878;
}

.next-btn {
  height: 45px;
  width: 231px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #f7cc44;
  box-shadow: 0 13px 28px 0 rgba(0,0,0,0.29);
  cursor: pointer;
  border: none;
  color: #fff;
  text-decoration: none;
}

.end-btn {
  height: 50px;
}

.item-card {
  margin-top: 5px ;
  min-width: 200px;
  max-height: 400px;
  overflow: auto;
}

.item-card--right {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 650px;
  max-height: 250px;
  overflow: auto;
}

.quiz-container {
  min-height: 470px;
}

.quiz-body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #98cbc4;
}

.avocado-running {
  position: absolute;
  left: 0;
  float: left;
}

.avocado-container {
  position: relative;
  max-width: 500px;
  top: 10px;
  height: 300px;
}

.avocado-centered {
  max-width: 600px;
}

.avocado-centered .avocado-running {
  left: 100px;
}

.clearfix {
  clear: both;
}

.thought-container {
  width: 200px;
  height: 100px;
  background: #fff;
  box-shadow: 0 7px 28px 0 #949494;
  position: absolute;
  right: 0;
  border-radius: 8px;
  text-align: center;
}

.thought-container::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-top: -20px;
  border-width: 20px 15px 30px 40px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  -ms-transform: rotate(130deg);
  transform: rotate(285deg);
}

/*.thought-container::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-top: -20px;
  border-width: 20px 15px 30px 40px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  -ms-transform: rotate(130deg);
  transform: rotate(285deg);
}*/

.thought-container--correct {
  box-shadow: 0 7px 28px 0 #389F46;
}

.thought-container--incorrect {
  box-shadow: 0 7px 28px 0 #FF8153;
}

.thought-container--correct .avocado-thought {
  color: #389F46;
}

.thought-container--incorrect .avocado-thought {
  color: #FC6C38;
}

.thought-container--result .avocado-thought {
  font-size: 25px;
  margin-top: 10px;
}

.avocado-thought {
  height: 44px;
  width: 156px;
  color: #389F46;
  font-size: 33px;
  line-height: 44px;
  display: inline-block;
  margin-top: 25px;
}

.end-thought {
  margin-top: 20px;
  font-size: 16px;
}

.text-wrapper {
  color: #fff;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

.question-count {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
}

.text-wrapper::-webkit-scrollbar-button {
    background-color: #fff;
    border-radius: 0px;
    display: block;
    height: 5px;
}

.text-wrapper::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 5px;
}

.text-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #bfbdbd;
}

.text-wrapper::-webkit-scrollbar-track,
.text-wrapper::-webkit-scrollbar-track:hover,
.text-wrapper::-webkit-scrollbar-button:hover {
  background-color: #fff;
}

.text-wrapper::-webkit-scrollbar {
  width: 4px;
}

@media only screen and (min-width: 1040px) {
  .item-card--right {
    left: 400px;
    min-width: 650px;
    padding-right: 100px;
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .item-card--right {
    max-width: 450px;
    right: 0;
  }
}

@media only screen and (max-width: 725px) {
  .item-card--right {
    position: static;
    display: block;
    margin-top: 5px;
    max-width: 90%;
    overflow: auto;
    max-height: 150px;
  }

  /*.thought-container {
    width: 160px;
    height: 45px;
    right: 10px;
  }*/

  .thought-container--result .avocado-thought {
    /*font-size: 16px;*/
    margin-top: 0;
  }

  .avocado-thought {
    font-size: 20px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 400px) {
  .item-card--right {
    margin-top: 15px;
  }

  .avocado-container {
    height: 200px;
  }

  .thought-container {
    width: 160px;
    height: 45px;
    right: 10px;
  }

  .thought-container--result .avocado-thought {
    font-size: 14px;
  }

  .avocado-running {
    left: 0;
    margin-top: 5px;
    width: 250px;
    height: 200px;
  }

  .avocado-centered .avocado-running {
    left: 0;
  }

  .item-card--right {
    max-height: 225px;
  }

  .text-wrapper {
    margin: 5px 10px;
  }
}
