@import "../components/styleguide/variables.less";

.index-page {
  position: relative;
}

.index-page__content-wrapper {
  width: 100%;
  max-width: @content-width;
  padding: 0px 30px 80px;
  margin: 0 auto;
  padding-bottom: 95px;
}
.index-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index-page__list:after {
  content: "";
  flex: auto;
}


.list-with-tags {
  display: flex;
  flex-direction: column;
}
.index-page__list {
  order: 1;
}
.tags-list {
  order: 0;
  margin-bottom: 25px;
}

.pagination {
  width: 100%;
  clear: both;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: @screen-sm-max) {
  .index-page__content-wrapper {
    width: 100%;
    padding: 40px @mobile-padding;
  }
  .index-page__list {
    justify-content: space-around;
  }
}