.latest-articles-container,
.other-articles { 
  margin-top: 30px;
  max-width: 1192px;
}
.latest-articles-container {
  position: relative;
  .latest-articles-title {
    position: absolute;
    z-index: 1;
    left: 45px;
    right: auto;
    top: -20px;
    font-size: 18px;
    strong {
      display: table-caption;
      padding: 20px 20px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      background-color: #f2f2f2;
    }
  }
  .article-container {
    padding: 3px;
  }
  article {

    height: 400px;
    position: relative;
  }
  figure {
    width: 100%;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    a {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .article-header {
    padding: 60px 30px 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    background-image: -owg-linear-gradient(to bottom,transparent,rgba(0,0,0,.75) 100%);
    background-image: -webkit-linear-gradient(to bottom,transparent,rgba(0,0,0,.75) 100%);
    background-image: -moz-linear-gradient(to bottom,transparent,rgba(0,0,0,.75) 100%);
    background-image: -o-linear-gradient(to bottom,transparent,rgba(0,0,0,.75) 100%);
    background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.75) 100%);
  }
  .article-title {
    color: #fff;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 rgba(0,0,0,.333);
    font-size: 21px;
    font-weight: 600;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .latest-articles-title {
      top: 10px;
      left: 10px;
    }
  }
}

.quiz-container-mobile {
  margin-bottom: 30px;
}

.other-articles {
  padding: 0 0 0 3px;
  margin-top: 40px;
  .category-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .category-items {
    margin-bottom: 0;
  }

  .category-item {
    margin-top: 10px;
    margin-bottom: 10px;
    &:nth-child(odd) {
      padding-left: 0;
      padding-right: 7px;
    }
    &:nth-child(even) {
      padding-right: 0;
      padding-left: 8px;
    }
  }

  @media screen and (max-width: 575px) {
    padding: 0 15px;
    .category-item {
      &:nth-child(odd),
      &:nth-child(even) {
        padding: 0;
      }
    }
  }
}

.btn {
  display: block;
  margin-top: 15px;
  background-color: #F7CC44;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.29);
  border: none;
  margin: 15px auto 0;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.29);
    background-color: #F7CC44;
  }
}

.avocado-test-link {
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center; 
  }
  .avocado-test__image-link {
    display:block;
    overflow: hidden;
    height: 214px;
    text-align: center;
    background-color: #9acbc4;
    margin-top:20px;
  }
  img {
    height: 100%;
  }
}

.feedback-form {
  position: relative;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 30px 34px 20px;
  .envelope-icon {
    position: absolute;
    left: 50%;
    top:-15px;
    background-color: #ff0036;
    color: white;
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 20px;
    margin-left: -15px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -11px;
      margin-top:-11px;
      font-size: 22px;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center; 
  }
  &:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 6px;
    border-style: solid;
    opacity: .1667;
    content: "";
    color: #666;
  }
  label {
    width: 1px; 
    height: 1px;
    overflow: hidden;
  }
  input,
  textarea {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 8px;
    border-radius: 4px;
  }
  input {
    height: 40px;
    text-align: center;
  }
  .will-not-spam {
    text-align: center;
    color: #999;
    font-size: 13px;
    margin-top: 10px;
  }
  .btn {
    width: 75%;
  }
}