/* pages stylesheet */

.article-preview .article-item {
  margin: 10px;
  text-align: center;
  box-shadow: 1px 2px 2px 2px lightgray;
  max-height: 308px;
  z-index: 2000;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  overflow: hidden;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  width: 31.8% !important;
}

.article-preview {
  margin-top: 80px;
}

.article-item blockquote {
  background-color: whitesmoke;
  color: gray;
}

.article-item .article-item-title {
  color: coral;
  font-size: 24px;
  line-height: 24px;
  font-weight: bolder;
}

.article-item.no-overflow {
  overflow: unset;
}

.article-item .show-more-btn {
  position: relative;
  top: -320px;
  left: -32%;
  border: 1px solid coral;
}

.article-card {
	text-align: center;
	box-shadow: 1px 2px 1px 1px whitesmoke;
}

.article-card img {
	height: 200px;
	padding: 8px;
}

.category-card {
  transition: .8s opacity;
  cursor: pointer;
  padding: 20px 48px;
  box-shadow: 1px 2px 2px 2px lightgray;
}

.category-card img {
  min-height: 280px;
  width: 100%;
}

.category-card:hover {
  opacity: .8;
}
