.header {
  height: 100vh;
  min-height: 600px;
  width: 99vw;
  margin: auto;
  background-color: #F7CC44;
  padding-top: 30px;
  background-image: url('./images/hp-bg.png');
  background-size: cover;

  .title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 40px;  
  } 
  
  .description {
      margin-top: 20px!important;
      width: 736px;
      opacity: 0.83;
      color: #000;
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      text-align: center;
      margin: 0 auto;
  } 
}