.article {
  .article-category-container {
    margin-bottom: 5px;
  
    .category-link {
      @transition: border-color .375s ease-in-out,background-color .375s ease-in-out,color .375s ease-in-out;
      display: inline-block;
      position: relative;
      padding: 2px 9px;
      border-width: 1px;
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      text-transform: uppercase;
      pointer-events: auto;
      border-style: solid;
      text-shadow: none;
      border-color: #e6e6e6;
      background-color: #e6e6e6;
      color: #000;
      -webkit-transition: @transition;
      -moz-transition: @transition;
      -o-transition: @transition;
      transition: @transition;
    
      &:hover {
        border-color: #ffd91d;
        background-color: #ffd91d;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .subtitle {
    font-weight: 300;
    letter-spacing: -.025em;
    opacity: .5;
    font-size: 20px;
    line-height: 1.125;
  }
}
