@import '../styleguide/variables.less';

.footer {
  background-color: #262B66;
  min-height: 304px; 
  color: @clr-text--night;
  font-family: @font-family-base;
}

.footer__inner {
  max-width: @content-width;
  padding: 50px @desktop-padding;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

.footer__left,
.footer__right {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.footer__right {
  justify-content:space-between;
}

.footer__logo {
  margin-bottom: 50px;
}

// TODO - move to social links component
.social-icons-link--footer {
  color: @clr-text--night;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
}
.footer__nav-item+.footer__nav-item {
  margin-top: 15px;
}

.footer__nav-link {
  color: @clr-text--night;
  text-decoration: none;
  font-size: 25px;
  &:hover {
    text-decoration: underline;
  }
}

.footer__social-icons-container {
  margin-top: 25px;
}

@media screen and (max-width: @screen-sm-max) {
  .footer {
    min-height: 0;
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    padding-left: @mobile-padding;
    padding-right: @mobile-padding;
  }
  .footer__nav {
    order:0;
    justify-content: flex-start;
    margin: 0 0 20px;
    flex-direction: column;
  }
  .footer__nav-item {
    margin: 10px 0;
  }
  .footer__nav-item + .footer__nav-item {
    margin-left: 0;
  }
  .footer__logo-icons-wrapper {
    order: 1;
    flex-direction: column;
    justify-content: center;
  }
  .footer__social-icons-container {
    margin: 0;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }
  .social-icons-container {
    order: 0;
  }
  .footer__logo {
    order: 1;
  }
  .footer__copyright {
    order: 2;
    margin-top: 20px;
  }
}