@import '../styleguide/index.less';

.footer {
  background-color: @clr-night;
  min-height: 304px; 
  color: @white;
}

.footer__inner {
  max-width: @content-width;
  padding: 40px @mobile-padding;
}
.footer__logo-icons-wrapper {
  display: flex;
  justify-content: space-between;
}

// TODO - move to social links component
.social-icons-link--footer {
  color: @white;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.footer__nav-link {
  color: @white;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}