.social-icons-container {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  padding: 0;

  .social-icons-item {
    line-height: 1em;
    display: inline-block;
    a {
      display: inline-block;
      padding: 0 .5rem;
    }
  }
}