@import '../components/styleguide/index.less';

.page-wrapper {
  background-color: @white; 
  border: 10px solid @clr-highlight;
  overflow: hidden;
  @animation-duration: .3s;
  -webkit-transition: @animation-duration all linear;
  -moz-transition: @animation-duration all linear;
  -ms-transition: @animation-duration all linear;
  -o-transition: @animation-duration all linear;
  transition: @animation-duration all linear;
}


.page-wrapper--stories {
  border-color: @clr-rose-3;
}

.page-wrapper--articles {
  border-color: @clr-mint-4;
}

.page-wrapper--sexoteca {
  border-color: @clr-violet;
}

.page-wrapper--advice {
  border-color: @clr-blue-4;
}

.page-wrapper--blurred {
  @blur: 20px;
  -webkit-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur); 
  filter: blur(@blur); 
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
}

.wrapper__graffiti--stars {
  position: absolute;
  left: 20px;
  top: 420px;
}

.wrapper__graffiti--arrows {
  position: absolute;
  right: 10px;
  top: 800px;
}

@media screen and (max-width: @screen-sm-max) {
  .page-wrapper {
    border: none;
  }

  .wrapper__graffiti--stars {
    position: absolute;
    left: 20px;
    top: 250px;
  }

  .wrapper__graffiti--arrows {
    display: none;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .wrapper__graffiti--stars {
    display: none;
  }
}