@import '../components/styleguide/index.less';

.page-wrapper {
  background-color: @white; 
  transition: background-color .2s linear;
}

.page-wrapper--articles {
  background-color: @clr-mint-2;
}

.page-wrapper--advice {
  background-color: @clr-mint;
}

.page-wrapper--stories {
  background-color: @clr-rose-2;
}

.page-wrapper--sexoteca {
  background-color: @clr-gray-3;
}

.page-wrapper--blurred {
  @blur: 20px;
  @animation-duration: .3s;
  -webkit-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur); 
  filter: blur(@blur); 
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
  -webkit-transition: @animation-duration -webkit-filter linear;
  -moz-transition: @animation-duration -moz-filter linear;
  -ms-transition: @animation-duration -ms-filter linear;
  -o-transition: @animation-duration -o-filter linear;
  transition: @animation-duration filter linear;
}